/* media query for mobile */
/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* media query for high pixel density desktops */
@font-face {
  font-family: "AvenirRegular";
  src: url(../assets/fonts/Avenir-Regular.otf);
  font-style: normal;
}

@font-face {
  font-family: "AvenirDemiBold";
  src: url(../assets/fonts/Avenir-Demi.otf);
  font-style: normal;
}

@font-face {
  font-family: "AvenirBold";
  src: url(../assets/fonts/Avenir-Bold.otf);
  font-style: normal;
}

/*This stylesheet contains the font-sizes for all the elements*/
h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h3,
h4,
p,
li {
  font-size: 13px;
  line-height: 18px;
}

h5,
label {
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirBold";
  color: #afafaf;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4,
  p,
  li {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4,
  p,
  li {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
}

.btn {
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-family: "AvenirDemiBold";
  background-color: #0095ff;
  border: none;
  font-size: 13px;
}

.btn:hover {
  background-color: #0065ad;
}

.input {
  height: 48px;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
}

.input:focus {
  border: 1px solid #0095ff;
  outline: none;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #afafaf;
}

* {
  margin: 0;
  padding: 0;
}

.comments__count {
  font-family: "AvenirDemiBold";
  margin-bottom: 32px;
}

.comments__new {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48px 70vw;
      grid-template-columns: 48px 70vw;
  -ms-grid-rows: auto auto 88px;
      grid-template-rows: auto auto 88px;
      grid-template-areas: ". t" "a i" ". b";
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.comments__new-title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
}

.comments__new-avatar {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a;
}

.comments__new-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: i;
  height: 30vw;
  resize: none;
}

.comments__new-btn {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: b;
  margin-top: 16px;
}

.comments__past {
  max-height: 80vh;
  overflow: auto;
}

.comments__past::-webkit-scrollbar {
  width: 5px;
}

.comments__past::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  -webkit-box-shadow: inset 0 0 5px #fff;
          box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

.comments__past-comment {
  border-top: 1px solid #e1e1e1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 16px 1fr auto;
      grid-template-columns: 40px 16px 1fr auto;
  -ms-grid-rows: 32px auto auto;
      grid-template-rows: 32px auto auto;
      grid-template-areas: ". . . ." "a . n d" "a . t t";
}

.comments__past-comment-avatar {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a;
  width: 40px;
  height: 40px;
}

.comments__past-comment-name {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: n;
  font-family: "AvenirDemiBold";
}

.comments__past-comment-date {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
  color: #afafaf;
}

.comments__past-comment-text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  overflow-wrap: break-word;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .comments__new {
    -ms-grid-columns: 48px 24px auto 16px 160px 40px;
        grid-template-columns: 48px 24px auto 16px 160px 40px;
    -ms-grid-rows: auto 72px;
        grid-template-rows: auto 72px;
        grid-template-areas: ". . t . . ." "a . i . b .";
    gap: 0;
  }
  .comments__new-title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: t;
  }
  .comments__new-avatar {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: a;
  }
  .comments__new-input {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: i;
    height: 48px;
    resize: none;
  }
  .comments__new-btn {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: b;
    margin: 0;
  }
  .comments__past > :last-child {
    border-bottom: 1px solid #e1e1e1;
  }
  .comments__past-comment {
    border-top: 1px solid #e1e1e1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 16px auto 1fr 40px;
        grid-template-columns: 40px 16px auto 1fr 40px;
    -ms-grid-rows: 32px auto auto;
        grid-template-rows: 32px auto auto;
        grid-template-areas: ". . . . ." "a . n d ." "a . t t .";
  }
  .comments__past-comment-avatar {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: a;
  }
  .comments__past-comment-name {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: n;
    font-family: "AvenirDemiBold";
    margin-right: 16px;
  }
  .comments__past-comment-date {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
    color: #afafaf;
  }
  .comments__past-comment-text {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: t;
    width: 81.25vw;
    overflow-wrap: break-word;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .comments {
    border-right: 1px solid #e1e1e1;
  }
  .comments__new {
    -ms-grid-columns: 48px 24px auto 16px 160px 28px;
        grid-template-columns: 48px 24px auto 16px 160px 28px;
  }
  .comments__past > :last-child {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;
  }
  .comments__past-comment-text {
    width: 40vw;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 48px 57px 64px;
      grid-template-rows: 48px 57px 64px;
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
      grid-template-areas: "l l" "i i" "b a";
}

.header__logo {
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: l;
}

.header__input {
  width: 90vw;
  height: 48px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: i;
  background-image: url(../assets/icons/SVG/Icon-search.svg);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  padding-left: 40px;
}

.header__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #323232;
}

.header__input:-ms-input-placeholder {
  font-size: 16px;
  color: #323232;
}

.header__input::-ms-input-placeholder {
  font-size: 16px;
  color: #323232;
}

.header__input::placeholder {
  font-size: 16px;
  color: #323232;
}

.header__btn {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: b;
}

.header__btn-btn {
  width: 70vw;
  background-image: url(../assets/icons/SVG/Icon-upload.svg);
  background-repeat: no-repeat;
  background-position: 30% center;
}

.header__avatar {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 252px;
    margin-right: 24px;
  }
  .header__btn-btn {
    width: 103px;
    margin-right: 24px;
    background-position-x: 8%;
  }
}

.video {
  background-color: black;
  text-align: center;
}

.video__player {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description__title {
  font-family: "AvenirBold";
  margin: 32px 0 16px 0;
}

.description__head {
  border-bottom: 1px solid #e1e1e1;
}

.description__head-publish-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__head-channel {
  font-family: "AvenirDemiBold";
}

.description__head-date {
  margin-left: 8px;
  color: #afafaf;
}

.description__head-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 24px 0;
}

.description__head-stats-views-icon {
  margin-right: 8px;
}

.description__head-stats-likes-icon {
  margin-right: 8px;
  margin-left: 24px;
}

.description__text {
  margin: 24px 0 40px 0;
}

@media only screen and (min-width: 768px) {
  .video__player {
    width: 91.15%;
  }
  .description__title {
    margin: 48px 0 24px 0;
  }
  .description__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
  }
  .description__head-channel {
    margin: 0;
  }
  .description__head-stats {
    margin: 0;
  }
  .description__text {
    width: 64.58vw;
    margin: 40px 0 64px 0;
    border-bottom: none;
  }
}

@media only screen and (min-width: 1024px) {
  .video__player {
    width: 65.56%;
  }
  .description {
    border-right: 1px solid #e1e1e1;
  }
  .description__head-stats {
    margin-right: 2.22vw;
  }
  .description__text {
    width: 36.67vw;
  }
}

.side {
  border-top: 1px solid #e1e1e1;
  padding-top: 40px;
}

.side__list {
  margin-top: 40px;
}

.side__list-item {
  margin-bottom: 24px;
  height: 70px;
  line-height: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 16px auto;
      grid-template-columns: 120px 16px auto;
  -ms-grid-rows: auto 16px auto;
      grid-template-rows: auto 16px auto;
      grid-template-areas: "p . t" "p . ." "p . c";
}

.side__list-item-poster {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: p;
}

.side__list-item-poster-img {
  width: 120px;
  height: 70px;
  border-radius: 4px;
}

.side__list-item-title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: t;
  text-decoration: none;
  color: black;
}

.side__list-item-title-text {
  line-height: 18px;
  font-family: "AvenirDemiBold";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.side__list-item-channel {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c;
}

@media only screen and (min-width: 768px) {
  .side__list-item-title {
    width: 30vw;
  }
}

@media only screen and (min-width: 1024px) {
  .side__list-item-title {
    width: unset;
  }
}

.upload {
  border-top: 1px solid #e1e1e1;
  padding: 24px 5vw;
}

.upload__heading {
  font-family: "AvenirBold";
  margin-bottom: 32px;
}

.upload label {
  display: block;
}

.upload__thumbnail {
  margin-bottom: 32px;
}

.upload__thumbnail-img {
  width: 90vw;
  height: 47.81vw;
}

.upload__title {
  margin-bottom: 24px;
}

.upload__title-input {
  width: 90vw;
}

.upload__description {
  margin-bottom: 32px;
}

.upload__description-input {
  width: 90vw;
  height: 143px;
}

.upload__btn {
  margin-bottom: 24px;
  width: 90vw;
}

.upload__btn--cancel {
  width: 90vw;
  font-family: "AvenirDemiBold";
  font-size: 15px;
  color: #0095ff;
}

@media only screen and (min-width: 768px) {
  .upload {
    padding: 48px 3.125vw;
  }
  .upload__heading {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 32px;
    margin-bottom: 40px;
  }
  .upload__thumbnail {
    margin-bottom: 40px;
  }
  .upload__thumbnail-img {
    width: 344px;
    height: 183px;
  }
  .upload__title-input {
    width: 93.75vw;
  }
  .upload__description {
    margin-bottom: 40px;
  }
  .upload__description-input {
    width: 93.75vw;
  }
  .upload__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 40px;
    border-top: 1px solid #e1e1e1;
  }
  .upload__btn {
    margin-bottom: 0;
    width: 160px;
  }
  .upload__btn--cancel {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 48px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "AvenirDemiBold";
    font-size: 15px;
    color: #0095ff;
  }
}

@media only screen and (min-width: 1024px) {
  .upload {
    padding: 48px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12.5vw 344px 24px auto 12.5vw;
        grid-template-columns: 12.5vw 344px 24px auto 12.5vw;
    -ms-grid-rows: auto 40px auto 24px auto 40px 88px;
        grid-template-rows: auto 40px auto 24px auto 40px 88px;
        grid-template-areas: ". h h h ." ". . . . ." ". i . t ." ". i . . ." ". i . d ." ". . . . ." ". b b b .";
  }
  .upload * {
    margin: 0;
  }
  .upload__heading {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: h;
  }
  .upload__thumbnail {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: i;
    height: 183px;
  }
  .upload__title {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: t;
    width: auto;
  }
  .upload__title-input {
    width: 100%;
  }
  .upload__description {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
    width: auto;
  }
  .upload__description-input {
    width: 100%;
    height: 94px;
  }
  .upload__btns {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: b;
    padding-top: 40px;
  }
  .upload__btn--cancel {
    margin-right: 48px;
  }
}

html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "AvenirRegular";
  height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#root {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 90fr 5fr;
      grid-template-columns: 5fr 90fr 5fr;
  -ms-grid-rows: 169px auto;
      grid-template-rows: 169px auto;
      grid-template-areas: ". h ." "m m m";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: m;
}

.main--videos-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 90vw 5vw;
      grid-template-columns: 5vw 90vw 5vw;
  -ms-grid-rows: 57.19vw auto auto auto;
      grid-template-rows: 57.19vw auto auto auto;
      grid-template-areas: "v v v" ". d ." ". c ." ". s .";
}

.video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: v;
}

.description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

.comments {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c;
}

.side {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: s;
}

.loading {
  margin: 0 auto;
}

.loading__img {
  width: 100vw;
}

.loading__title {
  margin: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #root {
    -ms-grid-columns: 3.125vw 93.75vw 3.125vw;
        grid-template-columns: 3.125vw 93.75vw 3.125vw;
    -ms-grid-rows: 80px auto;
        grid-template-rows: 80px auto;
  }
  .main--videos-page {
    -ms-grid-rows: 52.08vw auto auto auto;
        grid-template-rows: 52.08vw auto auto auto;
  }
}

@media only screen and (min-width: 1024px) {
  #root {
    -ms-grid-columns: 12.5vw 75vw 12.5vw;
        grid-template-columns: 12.5vw 75vw 12.5vw;
    -ms-grid-rows: 80px auto;
        grid-template-rows: 80px auto;
        grid-template-areas: ". h ." "m m m";
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: h;
  }
  .main--videos-page {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: m;
    -ms-grid-columns: 12.5vw 49.44vw 24px 23.89vw 12.5vw;
        grid-template-columns: 12.5vw 49.44vw 24px 23.89vw 12.5vw;
    -ms-grid-rows: 37.5vw auto auto;
        grid-template-rows: 37.5vw auto auto;
        grid-template-areas: "v v v v v" ". d . s ." ". c . s .";
  }
  .video {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: v;
  }
  .description {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
  }
  .comments {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: c;
  }
  .side {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: s;
  }
}
/*# sourceMappingURL=main.css.map */