@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/typography";
@import "./partials/btn&input";
@import "./partials/comments";
@import "./partials/header";
@import "./partials/main-content";
@import "./partials/comments";
@import "./partials/side.scss";

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirRegular";
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
