.btn {
  height: 48px;
  border-radius: 4px;
  color: $white;
  font-family: "AvenirDemiBold";
  background-color: $blue;
  border: none;
  font-size: 15px;

  &:hover {
    background-color: $darkblue;
  }
}

.input {
  border: 1px solid $mercury;
  height: 48px;
  border-radius: 4px;
  padding: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
