.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 48px 57px 64px;
  column-gap: 5vw;
  grid-template-areas:
    "l l"
    "i i"
    "b a";

  &__logo {
    margin: auto;
    grid-area: l;
  }

  &__input {
    width: 90vw;
    height: 48px;
    grid-area: i;
    background-image: url(../assets/icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-left: 40px;

    &::placeholder {
      font-size: 16px;
      color: $black;
    }
  }

  &__btn {
    grid-area: b;

    &-btn {
      width: 70vw;
      background-image: url(../assets/icons/SVG/Icon-upload.svg);
      background-repeat: no-repeat;
      background-position: 30% center;
      // text-align: center;
    }
  }

  &__avatar {
    grid-area: a;
  }
}

@include medium {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      flex-grow: 1;
    }

    &__input {
      box-sizing: border-box;
      width: 252px;
      margin-right: 24px;
    }
    &__btn-btn {
      width: 103px;
      margin-right: 24px;
      background-position-x: 8%;
    }
  }
}
