.video {
  background-color: black;
  text-align: center;

  &__player {
    width: 100%;
  }
}

.description {
  &__title {
    font-family: "AvenirBold";
    margin: 32px 0 16px 0;
  }

  &__head {
    border-bottom: 1px solid $mercury;

    &-publish-info {
      display: flex;
    }

    &-channel {
      font-family: "AvenirDemiBold";
    }

    &-date {
      margin-left: 8px;
      color: $silver;
    }

    &-stats {
      display: flex;
      margin: 32px 0 24px 0;

      &-views-icon {
        margin-right: 8px;
      }
      &-likes-icon {
        margin-right: 8px;
        margin-left: 24px;
      }
    }
  }

  &__text {
    margin: 24px 0 40px 0;
  }
}

@include medium {
  .video {
    &__player {
      width: 91.15%;
    }
  }

  .description {
    &__title {
      margin: 48px 0 24px 0;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      border-bottom: 1px solid $mercury;

      &-channel {
        margin: 0;
      }
      &-stats {
        margin: 0;
      }
    }

    &__text {
      width: 64.58vw;
      margin: 40px 0 64px 0;
      border-bottom: none;
    }
  }
}

@include large {
  .video {
    &__player {
      width: 65.56%;
    }
  }

  .description {
    padding-right: 1.67vw;

    &__head-stats {
      margin-right: 2.22vw;
    }

    &__text {
      width: 36.67vw;
    }
  }
}
