/*This stylesheet contains the font-sizes for all the elements*/

h1 {
  //Header
  font-size: 24px;
  line-height: 32px;
}

h2 {
  //Subheader
  font-size: 14px;
  line-height: 22px;
}

h3,
h4,
p,
li,
.shows-tours__table {
  //paragraphs, Lists & contact information
  font-size: 13px;
  line-height: 18px;
}

h5,
label,
.shows-tours__table-row--head,
.shows-tours__table-row-cell--label {
  //LABELS
  font-size: 12px;
  line-height: 20px;
  font-family: "AvenirBold";
  color: $silver;
}

.comments {
  font-size: 13px;
  line-height: 18px;

  &__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@include medium {
  h1 {
    //Header
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    //Subheader
    font-size: 16px;
    line-height: 24px;
  }

  h4,
  p,
  li,
  .shows-tours__table {
    //paragraphs, Lists & contact information
    font-size: 14px;
    line-height: 22px;
  }

  h5,
  .shows-tours__table-row--head,
  .shows-tours__table-row-cell--label {
    //LABELS
    font-size: 12px;
    line-height: 20px;
  }

  .footer__contact-info {
    line-height: 20px;
  }

  .hero__text,
  .shows-hero__text {
    font-size: 60px;
    line-height: 68px;
  }

  .shows-hero__subtitle {
    font-size: 36px;
    line-height: 44px;
  }

  .comments {
    font-size: 14px;
    line-height: 22px;
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

@include huge {
  h1 {
    //Header
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    //Subheader
    font-size: 16px;
    line-height: 24px;
  }

  h4,
  p,
  li,
  .shows-tours__table {
    //paragraphs, Lists & contact information
    font-size: 14px;
    line-height: 22px;
  }

  h5,
  .shows-tours__table-row--head,
  .shows-tours__table-row-cell--label {
    //LABELS
    font-size: 12px;
    line-height: 20px;
  }

  .footer__contact-info {
    line-height: 20px;
  }

  .hero__text,
  .shows-hero__text {
    font-size: 60px;
    line-height: 68px;
  }

  .shows-hero__subtitle {
    font-size: 36px;
    line-height: 44px;
  }

  .comments {
    font-size: 14px;
    line-height: 22px;
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }
}
