* {
  margin: 0;
  padding: 0;
}

.comments {
  margin: 0 auto;
  width: 90vw;
  padding-top: 32px;
  padding-bottom: 40px;

  &__title {
    font-family: "AvenirBold";
  }
  &__new {
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid $mercury;

    &-avatar {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    &-input {
      display: flex;
      flex-direction: column;
      margin-left: 16px;

      &-name {
        width: 100%;
        &-text {
          width: 100%;
          border: 1px solid $mercury;
          border-radius: 4px;
          background-color: $alabaster;
          height: 48px;
          padding: 16px;
          margin-bottom: 24px;
        }
      }
      &-comment {
        width: 100%;
        &-text {
          @extend .comments__new-input-name-text;
          height: 96px;
        }
      }
      &-btn {
        margin-bottom: 32px;
        background-color: $black;
        color: $white;
        font-family: "AvenirDemiBold";
        border-radius: 4px;
        font-size: 16px;
        border: none;
        height: 48px;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  &__past {
    &-commentbox {
      display: flex;
      padding: 24px 0;
      border-top: 0.5px solid $mercury;
      border-bottom: 0.5px solid $mercury;

      &-avatarbox {
        width: 15vw;
        &-avatar {
          @extend .comments__new-avatar;
          background-color: lightgrey;
        }
      }

      &-body {
        width: 70vw;
        margin-left: 16px;

        &-head {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          width: 100%;

          &-name {
            font-family: "AvenirDemiBold";
          }
          &-date {
            color: $silver;
          }
        }

        &-text {
          overflow-wrap: break-word;
        }
      }
    }
  }
}

@include medium {
  .comments {
    width: 67.71vw; //520/768

    &__new {
      &-input {
        align-items: flex-end;
        width: 59.37vw; //456/768

        &-btn {
          width: 160px;
        }
      }
    }

    &__past {
      height: 70vw;

      &-commentbox-body {
        &-title {
          justify-content: flex-start;

          &-name {
            margin-right: 3.12vw;
          }
        }
      }
    }
  }
}

@include huge {
  .comments {
    width: 36.67vw; //528/1440
    padding-top: 48px;
    padding-bottom: 40px;

    &__new {
      margin-top: 56px;
      &-input {
        margin-left: 20px;
        align-items: flex-end;
        width: 31.94vw; //460/1440

        &-btn {
          width: 160px;
        }
      }
    }

    &__past {
      height: 50vw;

      &-commentbox-body {
        &-title {
          justify-content: flex-start;

          &-name {
            margin-right: 1vw;
          }
        }
      }
    }
  }
}
